@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    animation-name: appearance;
    animation-duration: 1.5s;

    font-family: "Montserrat", sans-serif;
}

/* @keyframes appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */

h1:not(.cauan) {
    font-size: 2.5em;
    border-bottom: 2px solid #00ff6e;
    color: #984ddd;
    padding-bottom: 4px;
    text-shadow:
        2px 2px 0 #ff00fa,
        -1px -1px 0 #ff00fa,
        1px -1px 0 #ff00fa,
        -1px 1px 0 #ff00fa,
        1px 1px 0 #ff00fa;
}

.menu {
    display: grid;
    grid-template-columns: 0.7fr 2fr 0.7fr;
    position: sticky;
    top: 0;
    width: 100%;
    height: 64px;
    z-index: 10;
    align-items: center;
    background-color: #ffffff;

    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.bodyContent {
    height: auto;
}

/* ======================= MENU ============================ */

.middleMenu {
    margin: 0 auto;
    display: inline-block;

    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;

}

.middleMenu a {
    text-decoration: none;
    display: flex;
    float: left;
    width: 150px;
    height: 52px;

    justify-content: center;
    align-items: center;

    transition: all 0.5s ease;
}

.middleMenu a:hover {
    transform: scale(1.03);
    color: #ff3480;
}

.rightMenu {
    padding-right: 45px;
}

.direction {
    display: flex;
    gap: 32px;
    float: right;

    transition: all 0.5s ease;
}


.rightMenu .direction a:hover {
    transform: scale(1.1);
    color: #00d17d;
}

.leftMenu {
    padding-left: 20vh;
}

.leftMenu img {
    height: 64px;
    width: 64px;
    object-fit: contain;
}

.BigLogo {
    animation-name: rotate;
    animation-duration: 2s;
}


/*@keyframes rotate {
    from {
        transform: rotateY(180deg);
    }
} */

/* =============================== MIDDLE CONTENT ============================ */

.middleBody {
    display: grid;
    grid-template-rows: 0.1fr 3fr;
}

.middleBodyTop {
    display: grid;
    grid-template-rows: 0.8fr 0.1fr;
    row-gap: 7%;
}

.headLine {
    text-align: center;
    padding-top: 32px;

    display: grid;
    grid-template-columns: 0.1fr 1fr 2fr 0.1fr;
}

.imgBodyTop {
    display: grid;
    grid-template-columns: 1fr 1fr;

    column-gap: 10vh;
    padding-left: 5vh;
    padding-right: 5vh;

    height: 400px;
}

.imgBodyTop div {
    animation: suspended 5s infinite;
    animation-delay: 2s;
}

/* @keyframes suspended {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: 30px;
    }

    100% {
        margin-top: 0px;
    }
} */

.imgBodyTop img {
    width: 100%;
    height: auto;
    object-fit: contain;

    animation-name: appearance;
    animation-duration: 4.5s;

    border: 2px solid black;

    border-radius: 6px;
    padding: 16px;
}

.middleBodyMid {
    padding-left: 32px;
}


.feedbackContainer {
    display: grid;
    grid-template-rows: 1fr 2fr 0.7fr;
}

.feedbackBox {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
}

.feedbackBoxContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    column-gap: 32px;
}

.feedback1,
.feedback2,
.feedback3 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 6px;
    height: 650px;
    max-width: fit-content;

    display: flex;
    justify-self: center;
    overflow: visible;

}

.feedback1{
    width: 380px;
}

.feedback2 img, .feedback3 img{
    border: 2px solid black;
    padding: 8px;
    
}

.info p {
    font-size: 16px;
}

.feedback1:hover,
.feedback2:hover,
.feedback3:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform: scale(1.03);
}

.comment1,
.comment2,
.comment3 {
    display: flex;

    align-items: center;
    justify-content: center;
    padding: 64px;
}

.comment2 img {
    object-fit: cover;
    width: auto;
    height: auto;
    
}

.comment1 h2 {
    font-weight: 450;
    font-size: 1.5rem;
}


.cauan {
    animation-name: growth;
    animation-duration: 1s;
}

.slogan {
    animation-name: growth;
    animation-duration: 2s;
}

.button4More {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    animation-name: growth;
    animation-duration: 3s;

}

.button4More input {
    border-radius: 6px;
    padding: 8px;
}

/* @keyframes growth {
    0% {
        opacity: 0;
        margin-bottom: 200px;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        margin-bottom: 0px;
    }
} */

/* ================================ MIDDLE CONTENT 2 ============================== */
.middleBodyMid2 {
    display: grid;
    grid-template-columns: 0.4fr 3fr 0.4fr;
}

.middleBodyMid2_Content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 82px;
}

/* @keyframes float {
    0% {}

    50% {
        transform: scale(1.03);
    }

    100% {}
} */

.middleBodyMid2_Content div {
    height: 200px;

}

.left_box1,
.left_box2,
.right_box1,
.right_box2 {
    display: grid;
    grid-template-columns: 1fr 2fr;

    border-radius: 6px;
    background-color: #17de8e;
    box-shadow: rgba(83, 255, 154, 100) 0px 15px 20px;
    color: #000000;
    animation: float 4s infinite;

}

.mbm2_right1,
.mbm2_right2,
.mbm2_left2,
.mbm2_left1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.middleBodyMid2_Content button {
    padding: 12px;
    font-size: 0.9rem;
    font-weight: 500;
}

.left,
.right {

    display: flex;
    justify-content: center;
    align-items: center;

}

.left h2,
.right h2 {
    line-height: 2.5rem;
    color: #fdfff1;
    font-weight: 400;
    text-shadow:
        0 0 1px #fff,
        0 0 2px #fff,
        0 0 3px #fff;
}

.serviceName {
    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 3rem;

    font-weight: 700;
    color: #ff0000;
    text-shadow: 4px 4px 0px #02af1e;
}

/* ========= */


/* ================= */

.left img {
    object-fit: contain;
    max-width: 100px;
    padding-left: 16px;
    padding-right: 16px;
}


.mBM3_row {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

video {
    border: 1px solid black;
    border-radius: 6px;

}

/* =================================================================== */

p {
    font-size: 23px;
}

a {
    text-decoration: none;
}

.footer {
    display: grid;
    grid-template-rows: 1fr 0.45fr;
    /* row-gap: 30px; */
}

.location {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    width: auto;
    background-color: #effffe;

    align-items: center;

}

.contact {
    background-color: #ebffee;

}

.middleFooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    column-gap: 90px;
    padding-top: 3%;
    padding-left: 6%;

    max-width: 1440px;
    margin: 0 auto;
}

.s1,
.s2,
.s3 {
    line-height: 1.6;
}

.button {
    background-color: #fffc00;
    border-radius: 4px;
    border: none;
    box-shadow: rgba(1, 60, 136, .5) 0 -1px 3px 0 inset, rgba(0, 44, 97, .1) 0 3px 6px 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inherit;
    font-size: 20px;
    font-weight: 600;
    line-height: 16px;
    min-height: 30px;
    min-width: 50px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
    font-family: "Montserrat", sans-serif;
}

.button:hover:not(.location .s1_box a .button) {
    background-color: #fffc00;
    transform: translateY(-2px);

    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);

}

.button:hover {
    background-color: #fffc00;
    transform: translateY(-2px);

}

/* @keyframes shake {

    10%,
    90% {
        transform: translate3d(0, -1px, 0);
    }

    20%,
    80% {
        transform: translate3d(0, 2px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(0, -2px, 0);
    }

    40%,
    60% {
        transform: translate3d(0, 2px, 0);
    }
} */

.moreLinking {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 1.6;
}

/* ============================= SCROLL ANIMATION ======================== */


/* .reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 0.5s ease-in;
}

.active.fade-left {
    animation: fade-left 0.5s ease-in;
}

.active.fade-right {
    animation: fade-right 0.5s ease-in;
} */

/* @keyframes fade-bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
} */

/* @keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
} */

/* @keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
} */

/* ---------------------------TOOLTIPS---------------------------------*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 6px;
    padding: 6px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 40px;
    margin-left: -70px;
    font-family: "Montserrat", sans-serif;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* ----------------------------CAROUSEL---------------------------------*/


.imgCarousel {
    object-fit: unset !important;
    width: 100%;
    height: 380px;

    padding: 8px;
    border: 2px solid black;
    border-radius: 6px;
}

.slider-single {
    display: grid;
    max-width: 100%;
    padding-left: 16px;


}

.slider-content {
    padding-top: 10vh;
    padding-right: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
}

.slider-left,
.slider-right {
    display: none;
}

.addImageButton {
    padding-top: 5vh;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

button {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 12px 24px;
}

/* ============================= VIDEO ========================= */

.vidContent {
    display: grid;
    grid-template-rows: 1fr 1fr;

    padding-top: 10vh;
}

.videoLine1 {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10vh;
    justify-content: center;
}

.videoLine1 div,
.videoLine2 div {
    display: grid;
    row-gap: 2vh;
}

.videoLine1 div button {

    font-size: 1.7rem;
    font-weight: 530;
    padding: 12px;
    text-align: center;

}

.videoLine2 div button {
    font-size: 1.7rem;
    font-weight: 530;
    text-align: center;
}

.videoLine1 video {
    height: 400px;
    width: 250px;

    border: 2px solid black;
    padding: 16px;
    object-fit: cover;
}

.videoLine2 {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 7vh;
    justify-content: center;

    padding-top: 10vh;


}

.videoLine2 video {
    object-fit: cover;
    width: 52vh;
    height: 40vh;
    padding: 16px;
    border: 2px solid black;
}

video {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.fixContentButton{
    padding-right: 4vh;
    padding-left: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
}

.middleBodyBot{
    padding-top: 20vh;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    height: auto;
    margin-top: 10vh;
    border:3px solid black;
    border-radius: 12px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.gallery img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.middleBodyBot{
    padding-top: 20vh;
}

/* ---------------RESPONSIVE-------------------*/
@media (min-width: 768px) {
    .button {
        padding: 16px 44px;
        min-width: 150px;
    }
}